body {
     animation: color-change 20s infinite alternate; /* Applies the animation */
    color: rgb(6, 10, 44);
    padding: 10px;
    font-family: perpetua;
}
#all-contents {
  max-width: 1500px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(255, 0, 0);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 25% 10%;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
    text-align: center;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
.indexmain {
    background: rgb(219, 219, 219);
    display: flex;
    border: ridge darkblue;
    position: relative;
    z-index: 1;
    width: 500px;
}
.indexmain {
    margin-top:-300px
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border: double darkblue;
}
.content {
    flex: 1;
    padding: 15px;
}
/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}
/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
        height: 100ch;
        zoom: 1.5;
        display: grid;
    }
  
    h1 {
        font-size: 44px;
    }
  
    h2 {
        font-size: 42px;
    }
  
    h3 {
        font-size: 36px;
    }
  
    #all-contents {
        height: 100ch;
        margin: none;
    }
  
    a {
        font-size: 42px;
    }
  
    .sidebar {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }
  
    .sidebar-img {
        width: 100%;
    }
  
    p,
    li {
        font-size: 24px;
    }
  
    .content {
        align-content: center;
        justify-content: center;
    }
}
@keyframes color-change {
  0% {
    background-color: #ff5733; /* Start color */
  }
  25% {
    background-color: #33ff57; /* Intermediate color 1 */
  }
  50% {
    background-color: #3357ff; /* Intermediate color 2 */
  }
  75% {
    background-color: #ff33a8; /* Intermediate color 3 */
  }
  100% {
    background-color: #ff5733; /* End color (back to start) */
  }
}

#img1 {
    scale:.2;
    position: absolute;
    z-index: 100;
    margin-top: 200px
}
iframe  {
    margin-left:1300px;
    

}

.liar {
    font-size: 10px;
    margin-top:-20px
}
.among {
    margin-left:1850px;
    width:40px;
    position: absolute
}
#gamestext {
    color:#454545;
    font-family: perpetua

}
.gamesmain {
    height: 400px;
    width: 800px;
    background: rgb(219, 219, 219);
    border: ridge darkblue;
    position: relative;
    z-index: 1;

}
.gamebutt {
    font-family: perpetua;
    font-size: 20px;
    width: 100;
    color: black;
    border-width: 5px;
    border-style: double;
    
}
#cool {
    margin-left: 850px;
    margin-top: -500px
}
#awesome {
  margin-top: -700px
}


#blabber {
    font-size: 20px
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 252, 231, 0.5);
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  margin-right:860px;
  margin-bottom: -15px;
  z-index: 0
}
#demo {
    font-size: 30px
}
.peakimage {
    border-style:groove;
    border-width: 10px;
    border-color: rgb(0, 255, 170)
}#userInput {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 255, 0, 0);
}
.answersubmit {
   position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 255, 0, 0);
    margin-top: 470px ;
    margin-left: 360px;
    z-index: 5;
    color: rgb(229, 230, 230)
}